<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/javascripts/color-modes.js"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/bootstrap-icons.min.css" rel="stylesheet" />
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <title>Food</title>
  </head>
  <body>
    <% include ./partial/navbar %>
    <main>
      <h1 class="mt-5 text-center text-primary">About us</h1>
      <div class="container">
        <div class="row featurette mt-3">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Dr. Thinzar Wint Kyaw
              <span class="text-body-secondary">Head of department</span>
            </h2>
            <p class="lead">
              Some great placeholder content for the first featurette here.
              Imagine some exciting prose here.
            </p>
          </div>
          <div class="col-md-5">
            <img src="/images/user.jpeg" class="img-fluid" alt="" />
          </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
              Tr Daw Phyo
              <span class="text-body-secondary">Supervisor</span>
            </h2>
            <p class="lead">
              Another featurette? Of course. More placeholder content here to
              give you an idea of how this layout would work with some actual
              real-world content in place.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="/images/slide.jpg" alt="" class="img-fluid" />
          </div>
        </div>
        <hr class="featurette-divider" />
        <div class="row">
          <div class="col-lg-3">
            <img
              src="/images/user.jpeg"
              class="img-fluid rounded-circle"
              width="160px"
              height="160px"
              alt=""
            />
            <h2 class="fw-normal">Thawl Gyi</h2>
            <p>Developer</p>
            <p>2BE IT-3</p>
          </div>
          <div class="col-lg-3">
            <img
              src="/images/user.jpeg"
              class="img-fluid rounded-circle"
              width="160px"
              height="160px"
              alt=""
            />
            <h2 class="fw-normal">Ei Po</h2>
            <p>Developer</p>
            <p>2BE IT-6</p>
          </div>
          <div class="col-lg-3">
            <img
              src="/images/user.jpeg"
              class="img-fluid rounded-circle"
              width="160px"
              height="160px"
              alt=""
            />
            <h2 class="fw-normal">Ei Phyae</h2>
            <p>Developer</p>
            <p>2BE IT-5</p>
          </div>
          <div class="col-lg-3">
            <img
              src="/images/user.jpeg"
              class="img-fluid rounded-circle"
              width="160px"
              height="160px"
              alt=""
            />
            <h2 class="fw-normal">Lin Lae</h2>
            <p>Fontend Developer</p>
            <p>2BE IT-9</p>
          </div>
        </div>
      </div>
    </main>
    <% include ./partial/footer %>
  </body>
</html>
