<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.115.4" />
    <title>Admin Workout add</title>

    <% include ../../partialA/head %>
  </head>
  <body>
    <% include ../../partialA/header %>
    <div class="container-fluid">
      <div class="row">
        <% include ../../partialA/sidebar %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3"></div>
            <div class="col-sm-12 col-md-12 col-lg-6 border border-1 p-3 rounded border-primary mt-5">
              <div class="form-signin w-100 m-auto">
                <h1 class="h3 mb-3 fw-normal">
                  Workout Add
                </h1>
                <form
                  action="/admin/workoutadd"
                  method="post"
                  enctype="multipart/form-data">
                  <div class="form-floating my-2">
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      name="title"
                      placeholder="Title"
                    />
                    <label for="title">Title</label>
                  </div>
                  <div class="form-floating my-2">
                    <input
                      type="text"
                      class="form-control"
                      id="type"
                      name="type"
                      placeholder="Type"
                    />
                    <label for="type">Type</label>
                  </div>
                  <div class="form-floating my-2">
                    <select name="category" id="category" class="form-select">
                      <option value="gain">Weight Gain</option>
                      <option value="lose">Weight Lose</option>
                      <option value="fitness">Fitness</option>
                    </select >
                    <label for="category">Category</label>
                  </div>
                  <div class="input-group my-2">
                    <input
                      type="file"
                      class="form-control"
                      id="cover"
                      name="cover"
                      placeholder="Cover"
                      accept="image/*"
                    />
                    <label for="cover" class="input-group-text">Cover</label>
                  </div>
                  <div class="form-floating my-2">
                    <textarea
                      class="form-control"
                      id="description"
                      name="description"
                      placeholder="Description"
                      style="height: 100px"
                    ></textarea>
                    <label for="description">Description</label>
                  </div>
                  <div class="d-grid">
                  <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
                </form>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3"></div>
          </div>
          
        </main>
      </div>
    </div>
    
  </body>
</html>

